---

title: "Fanart"
permalink: /fanart/
author_profile: true
entries_layout: grid
classes: wide

gallery:
  - url: https://monoginryoso.github.io/illustrations/illustration-4990/
    image_path: /artery/artery.jpg
    alt: "Artery"
  - url: https://monoginryoso.github.io/illustrations/illustration-4992/
    image_path: pavlovian_love/pavlovian_love.jpg
    alt: "Pavlovian Love"
  - url: https://monoginryoso.github.io/illustrations/illustration-4994/
    image_path: thx1138_android/thx1138_android.jpg
    alt: "THX 1138: The Android Police"
    
---




<style>
  img{
      width: 50%;
      padding-left: 0%;
  }
  </style>

{% include base_path %}

{% include gallery caption="This is a sample gallery to go along with this case study." %}

