---

title: "Fanart"
permalink: /fanart/
author_profile: true
entries_layout: grid
classes: wide

gallery:
  - url: https://monoginryoso.github.io/posts/2026/03/baby-bangs/
    image_path: /baby-bangs/baby-bangs.PNG
    alt: "Neon Genesis Evangelion: Neo-Chinese Style Rei (Baby Bangs Version)"
  - url: https://monoginryoso.github.io/posts/2026/01/the-dress/
    image_path: /the-dress/the-dress.PNG
    alt: "Wikipe-tan: The Dress"
  - url: https://monoginryoso.github.io/posts/2025/09/octoling-rei/
    image_path: /octoling_rei/octoling_rei_preview.png
    alt: "Splatoon × Neon Genesis Evangelion: Octoling Rei"
  - url: https://monoginryoso.github.io/posts/2025/08/inkling-cell-culture/
    image_path: /inkling_cell_culture/inkling_cell_culture.png
    alt: "Splatoon: Inkling Cell (?) Culture"
  - url: https://monoginryoso.github.io/posts/2025/07/parallax-universe/
    image_path: /parallax_universe/parallax_universe_preview.png
    alt: "Mobile Suit Gundam GQuuuuuuX: Parallax Universe"
  - url: https://monoginryoso.github.io/posts/2025/06/red-cufflinks/
    image_path: /red_cufflinks/red_cufflinks.png
    alt: "Neon Genesis Evangelion: Red Cufflinks"
  - url: https://monoginryoso.github.io/posts/2024/12/Eosinophil-Chibi/
    image_path: /eosinophil_chibi/eosinophil_chibi_preview.jpg
    alt: "Cells at Work!: Eosinophil (Chibi)"
  - url: https://monoginryoso.github.io/posts/2024/10/burnout/
    image_path: /burnout/burnout_preview.jpg
    alt: "Irasutoya Challenge: Burnout"
  - url: https://monoginryoso.github.io/posts/2024/08/artery/
    image_path: /artery/artery.jpg
    alt: "VOCALOID Song: Artery"
  - url: https://monoginryoso.github.io/posts/2024/05/pavlovian-love/
    image_path: pavlovian_love/pavlovian_love.jpg
    alt: "VOCALOID Song: Pavlovian Love"
  - url: https://monoginryoso.github.io/posts/2024/01/thx1138-android/
    image_path: thx1138_android/thx1138_android.jpg
    alt: "THX 1138: The Android Police"
    
---




<style>
  img{
      width: 50%;
      padding-left: 0%;
  }
  </style>

{% include base_path %}

{% include gallery caption="" %}

