---

title: "Original Art"
permalink: /original-art/
author_profile: true
entries_layout: grid
classes: wide

gallery:
  - url: https://monoginryoso.github.io/posts/2024/09/first-day-of-class/
    image_path: first_day_of_class/first_day_of_class.jpg
    alt: "first-day-of-class"
  - url: https://monoginryoso.github.io/posts/2024/07/cherry-pick/
    image_path: cherry-pick/cherry-pick.jpg
    alt: "cherry-pick"
  - url: https://monoginryoso.github.io/posts/2024/02/reuptake-inhibition/
    image_path: reuptake_inhibition/reuptake_inhibition.jpg
    alt: "Reuptake Inhibition"
  - url: https://monoginryoso.github.io/posts/2023/12/laboratory-waste/
    image_path: laboratory_waste/laboratory_waste.jpg
    alt: "Laboratory Waste"
    
---




<style>
  img{
      width: 50%;
      padding-left: 0%;
  }
  </style>

{% include base_path %}

{% include gallery caption="" %}

