---

title: "Original Art"
permalink: /original-art/
author_profile: true
entries_layout: grid
classes: wide

gallery:
  - url: https://monoginryoso.github.io/posts/2025/06/blue-white-screening/
    image_path: blue_white_screening/blue_white_screening.png
    alt: "blue-white-screening"
  - url: https://monoginryoso.github.io/posts/2025/05/underfilled-expectation/
    image_path: underfilled_expectation/underfilled_expectation.png
    alt: "underfilled-expectation"
  - url: https://monoginryoso.github.io/posts/2024/09/first-day-of-class/
    image_path: first_day_of_class/first_day_of_class_v2.0.jpg
    alt: "first-day-of-class"
  - url: https://monoginryoso.github.io/posts/2024/07/cherry-pick/
    image_path: cherry-pick/cherry-pick_v2.0.jpg
    alt: "cherry-pick"
  - url: https://monoginryoso.github.io/posts/2024/02/reuptake-inhibition/
    image_path: reuptake_inhibition/reuptake_inhibition_v2.0.jpg
    alt: "Reuptake Inhibition"
  - url: https://monoginryoso.github.io/posts/2023/12/laboratory-waste/
    image_path: laboratory_waste/laboratory_waste_v2.0.jpg
    alt: "Laboratory Waste"
    
---




<style>
  img{
      width: 50%;
      padding-left: 0%;
  }
  </style>

{% include base_path %}

{% include gallery caption="" %}

