---

title: "Original Art"
permalink: /original-art/
author_profile: true
entries_layout: grid
classes: wide

gallery:
  - url: https://monoginryoso.github.io/illustrations/illustration-4991/
    image_path: cherry-pick/cherry-pick.jpg
    alt: "cherry-pick"
  - url: https://monoginryoso.github.io/illustrations/illustration-4993/
    image_path: reuptake_inhibition/reuptake_inhibition.jpg
    alt: "Reuptake Inhibition"
  - url: https://monoginryoso.github.io/illustrations/illustration-4995/
    image_path: laboratory_waste/laboratory_waste.jpg
    alt: "Laboratory Waste"
    
---




<style>
  img{
      width: 50%;
      padding-left: 0%;
  }
  </style>

{% include base_path %}

{% include gallery caption="This is a sample gallery to go along with this case study." %}

